.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #0085aa;
}

input[type=text] {
  width: 300px;
  height: 40px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  border-radius: 10px;
  outline: none;
  margin: 5px;
}

input[type=number] {
  width: 100px;
  height: 40px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  border-radius: 10px;
  outline: none;
  margin: 5px;
}

input[type=radio] {
  margin-left: 20px
}

button {
  width: 200px;
  height: 40px;
  background-color: #61dafb;
  border: none;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: #22c2ee;
}

button:active {
  background-color: #0085aa;
}

.grid-2 {
  display: grid;
  grid-template-columns: auto auto;
  text-align: right;
}